doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="referrer" content="unsafe-url")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="image/favicon.ico" type="image/gif" rel="shortcut icon")
    title Online Dictionary

    script(src="js/jquery-3.6.4.min.js")


    script(src="js/dict.js")

    link(rel="stylesheet" href="style/dict.css")


  body
    h1 WAP Online Dictionary
    div.searchsection  
      label.mylabel Term:
      input#term(type="text" placeholder="Search" aria-label="Search" name="term" autofocus)
      button#lookupBtn(type="submit") Lookup
      center#loader
        img(src="image/loading.gif")
      br
    div#card-none.card
      div#result.card-body
    div#validators
      a(href="http://validator.w3.org/check/referer")
        img(src="http://mumstudents.org/cs472/2014-09/images/w3c-html.png" alt="html validator")
      a(href="http://jigsaw.w3.org/css-validator/check/referer")
        img(src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!")

